/012/FomeZero/target/
/014/ControleArmazenamento/target/
/014/Controle/target/
/015/EleicaoPresidencial/target/
/016/SalaryCalculator/target/
/017/EmbaralhaPalavra/target/
/018/Main/target/
/019/Lanchonete/target/
/019/Fatorial/target/
/020/ContadorString/target/
/021/RemoveCaractere/target/
/022/Aluguel/target/
/022/CalculadoraAluguel/target/
/023/CalculadoraSalario/target/
/024/JogoAdivinhacao/target/
/025/VerificarNumeroPrimo/target/
/026/PalavraMaior/target/
/027/Inteiros/target/
/028/QuadradosPerfeitos/target/
